<div class="row">
    <div class="col-xs-4 col-md-12">
        <h5 [textContent]="labels.FORM_TITLE"></h5>
    </div>
    
</div>

<div class="row">
    <div class="col-xs-4 col-md-8">

        <form #f="ngForm" (ngSubmit)="onSubmit(f)">

            <div class="row">

                 <div class="col-xs-4 col-md-8">
                     <mat-form-field  appearance="outline">
                         
                        <mat-label [textContent]="labels.FORM_MOVIES.TITLE"></mat-label>

                        <input matInput
                            [placeholder]="labels.FORM_MOVIES.TITLE"
                            name="title"
                            ngModel
                            #title 
                            required/>

                        <mat-hint [textContent]="labels.FORM_MOVIES_HINT.TITLE"></mat-hint>
                        
                        <mat-error 
                            *ngIf="f.controls?.title?.invalid"
                            [textContent]="labels.MANDATORY_MESSAGE_FORM">
                        </mat-error>

                     </mat-form-field>
                 </div>

                 <div class="col-xs-4 col-md-4">
                    <mat-form-field appearance="outline">
                        
                        <mat-label [textContent]="labels.FORM_MOVIES.RENT_VALUE">
                        </mat-label>
                        
                        <input matInput
                            [placeholder]="labels.FORM_MOVIES.RENT_VALUE"
                            name="rentValue"
                            ngModel
                            #rentValue
                            required/>
                        
                        <mat-hint [textContent]="labels.FORM_MOVIES_HINT.RENT_VALUE"></mat-hint>

                        <mat-error 
                            *ngIf="f.controls?.rentValue?.invalid"
                            [textContent]="labels.MANDATORY_MESSAGE_FORM">
                        </mat-error>

                    </mat-form-field>
                </div>

            </div>

            <br>

            <div class="row">
                
                <div class="col-xs-4 col-md-12">
                    <mat-form-field appearance="outline">
                        
                        <mat-label [textContent]="labels.FORM_MOVIES.DESCRIPTION"></mat-label>
                        
                        <textarea rows="7"
                                matInput
                                [placeholder]="labels.FORM_MOVIES.DESCRIPTION"
                                name="description"
                                ngModel
                                #description
                                required>
                        </textarea>
                        
                        <mat-hint [textContent]="labels.FORM_MOVIES_HINT.DESCRIPTION"></mat-hint>

                        <mat-error 
                            *ngIf="f.controls?.description?.invalid"
                            [textContent]="labels.MANDATORY_MESSAGE_FORM">
                        </mat-error>

                    </mat-form-field>
                </div>

           </div>
         
           <br>

           <div class="row">
                
                <div class="col-xs-4 col-md-4">
                    <mat-form-field appearance="outline">
                        
                        <mat-label [textContent]="labels.FORM_MOVIES.RELEASE_YEAR"></mat-label>

                        <input matInput
                            [placeholder]="labels.FORM_MOVIES.RELEASE_YEAR"
                            name="releaseYear"
                            ngModel
                            #releaseYear 
                            required/>

                        <mat-hint [textContent]="labels.FORM_MOVIES_HINT.RELEASE_YEAR"></mat-hint>

                        <mat-error 
                            *ngIf="f.controls?.releaseYear?.invalid"
                            [textContent]="labels.MANDATORY_MESSAGE_FORM">
                        </mat-error>

                    </mat-form-field>
                </div>

                <div class="col-xs-4 col-md-4">
                    <mat-form-field appearance="outline">
                        
                        <mat-label [textContent]="labels.FORM_MOVIES.RENT_DAYS"></mat-label>
                        
                        <input matInput
                            [placeholder]="labels.FORM_MOVIES.RENT_DAYS"
                            name="rentDays"
                            ngModel
                            #rentDays 
                            required/>
                    
                        <mat-hint [textContent]="labels.FORM_MOVIES_HINT.RENT_DAYS"></mat-hint>

                        <mat-error 
                            *ngIf="f.controls?.rentDays?.invalid"
                            [textContent]="labels.MANDATORY_MESSAGE_FORM">
                        </mat-error>

                    </mat-form-field>
                </div>

                <div class="col-xs-4 col-md-4">
                    <button mat-button
                        type="button"
                       color="accent"
                       [textContent]="labels.GO_BACK_BUTTON"
                       routerLink="/home/bem-vindo">
                    </button>

                    <button mat-button
                       type="submit"
                       color="primary"
                       [textContent]="labels.SAVE_BUTTON"
                       [disabled]="f.invalid">
                    </button>

                </div>

            </div>

            <br>

            <div class="row">
                <div class="col-xs-4 col-md-12">
                    <pre>
                        {{ f.value | json }}
                    </pre>
                </div>
            </div>
            
         </form>

    </div>
</div>

